<footer>
    <p>CL2E - 287 rue Hubert Parent 59171 Erre - RCS: Douai B 882 586 118</p>
    <p>tel: 07 66 77 96 44 - mail: <a id="contact" href="/contact">cl2e.energies@gmail.com</a> </p>
</footer>
</body>
</html>