<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CL2E</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">

  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/FaviconCL2E_16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/FaviconCL2E_32.png">
  <link rel="icon" type="image/png" sizes="48x48" href="/images/favicons/FaviconCL2E_48.png">
  <link rel="icon" type="image/png" sizes="64x64" href="/images/favicons/FaviconCL2E_64.png">
  <link rel="icon" type="image/png" sizes="128x128" href="/images/favicons/FaviconCL2E_128.png">
  
  <!-- Pour les appareils Apple -->
  <link rel="apple-touch-icon" href="/images/favicons/FaviconCL2E_60.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/FaviconCL2E_152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/FaviconCL2E_180.png">


</head>

<body>
  <header class="header">
    <img src="/images/CL2E.png" alt="logo de l'entreprise" class="logo">
    <nav class="nav">
      <div><a class="nav-button" href="/">Prestations</a></div>
      <div><a class="nav-button chauffagiste" href="/chauffagiste">Chauffagiste</a></div>
      <div><a class="nav-button electricien" href="/electricien">Electricien</a></div>
      <div><a class="nav-button plombier" href="/plombier">Plombier</a></div>
      <div><a class="nav-button" href="/contact">Contactez-moi</a></div>

    </nav>

  </header>