body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    font-size: 2rem;
}

body::before {
    content: ""; /* Obligatoire pour une pseudo-classe */
    background-image: url(/images/plombier-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* Ajustez la valeur entre 0 et 1 pour contrôler la transparence */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Assurez-vous que la pseudo-classe est en arrière-plan */ 
}

.header {
background-color:#3d3835;
width: 94%;
padding-bottom: 1%;
margin: 1%;
text-align: center;
box-shadow: 10px 10px 12px #faab10;
border-radius: 1em;
}

.logo{
  max-width: 10%; /* Limite la largeur maximale à 100% du conteneur parent */
  height: auto; /* Maintenir le ratio d'aspect de l'image */
}

.nav-button {
    transition: all 0.3s ease;
}

.nav-button:hover {
    font-size: 1.2em;
    color: #faab10;
}


.rainbow-text {
    text-align: center;
}

.rainbow-text span:nth-child(1) {
    color: #faab10; 
}

.rainbow-text span:nth-child(2) {
    color: #01acc6; 
}

.rainbow-text span:nth-child(3) {
    color: #e44c41;
}

.rainbow-text span:nth-child(4) {
    color: #faab10;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em
    
}

nav a {
    text-decoration: none;
    color: white;
}

.main {
    background-color: #3d3835;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2%;
    box-shadow: 10px 10px 12px #01acc6;
    border-radius: 1em;
}

.contact-page{
    background-color: #3d3835;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2%;
    box-shadow: 10px 10px 12px #01acc6;
    border-radius: 1em;
}

.contact-text {
    color: white;
    font-size: 0.8em;
    text-align: center;
    padding-bottom: 2%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.contact-form input {
    width: 15vw;
    outline: 0;
}

input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    margin: 0.5%;
    background-color: white;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
  
  input:focus {
    background-color: #ffffff;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }

  textarea {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    margin: 0.5%;
    background-color: white;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  }

  .message-error {
    margin: 1%;
    color: red;
  }

  .button {
    height: 2.8em;
    width: 9em;
    background: transparent;
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    border: 2px solid #01acc6;
    outline: none;
    color: #01acc6;
    cursor: pointer;
    font-size: 17px;
    align-self: center;
  }
  
  .button:hover {
    background: #01acc6;
    color: #ffffff;
    animation: squeeze3124 0.9s both;
  }
  
  @keyframes squeeze3124 {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

.image {
    width: 41%;
    text-align: center;
}

.image img {
    max-width: 100%;
    max-height: 100%;
}

.main p {
    font-size: 0.8em;
}

.prestation {
    width: 41%;
    color: white;
    text-align: center;
}

h2 {
    font-size: 1em;
    margin-bottom: 3%;
}

footer {
    text-align: center;
    font-size: 0.8em;
    background-color: #3d3835;
    width: 90%;
    color: #ffffff;
    padding: 2%;
    box-shadow: 10px 10px 12px #e44c41;
    border-radius: 1em;
    margin-bottom: 2%;
}

footer p {
    margin: 1%
}

#contact {
    text-decoration: none;
    color: white;
    font-style: italic;
    transition: all 0.3s ease;
}

#contact:hover {
    font-size: 1.2em;
    color: #e44c41;
}

#toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    transition: opacity 0.3s ease;
  }
  
  #toast.hidden {
    opacity: 0;
    pointer-events: none;
  }

  @media screen and (max-width: 890px) {
    body {
        font-size: 1.3rem;
    }

    .main{
    display: flex;
    flex-direction: column;
    }
    .prestation {
    width: 70%;
    }
    .contact-form {

        align-items: center;
  }

  textarea {
    width: 90%;
  }

}