<%- include('./partials/header.ejs') %>
    <main class="contact-page">

        <form class="form" action="/send-email" method="post">
            <div>
                <h2>Contactez-moi</h2>
                <p>Vous pouvez me contacter sur le 07 66 77 96 44 pour tout renseignement ou alors par mail en me laissant un message via le formulaire qui suit.</p>
            </div>

            <div>
                <input type="text" id="name" name="name" placeholder="Votre nom et prénom" required>
                <input type="text" id="email" name="email" placeholder="Votre adresse mail" required>
                <textarea name="message" id="message" cols="100" rows="20" placeholder="N'hésitez pas à me laisser votre numéro de téléphone si vous préférez que je vous recontacte par téléphone." required></textarea>
                <button id="button">Envoyez</button>
            </div>
        </form>

    </main>
    <%- include('./partials/footer.ejs') %>