<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plombier</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>CL2E</h1>
        <nav>
            <div><a href="">Prestations</a></div>
            <div><a href="">Contact</a></div>
        </nav>
    </header>
    <main>
        <div>
            <h2>Chauffagiste - Electricien - Plombier</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio accusamus aperiam alias nam deserunt tempore, minus, laborum nulla non ipsum voluptatem! Magnam modi, laudantium iure dolor quis sapiente perferendis minus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque numquam repellat tempore fuga itaque aut! Repudiandae nisi quidem sunt nulla quia deleniti culpa impedit ipsum asperiores. Vel blanditiis soluta et. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque corrupti mollitia soluta sapiente, aut nulla, accusamus temporibus eligendi quidem quos nam tenetur accusantium at eius beatae magni molestiae libero modi.</p>
        </div>
    </main>
    <footer>
        <p>CL2E - 287 rue Hubert Parent 59171 Erre - RCS: Douai B 882 586 118</p>
        <p>tel: 07 66 77 96 44 - adresse mail: cl2e.energies@gmail.com </p>
    </footer>
</body>
</html>