<%- include('./partials/header.ejs') %>
    <main class="main">
        <div class="image">
            <img src="/images/Default_An_electrician_repairing_a_boiler_We_see_him_from_behi_1.jpg" alt="Image d'un éléctricien en train de faire des raccords" aria-label="Image d'un electricien - chauffagiste - plombier en train de faire un raccord electrique">
        </div>
        <div class="prestation">
            <h2 class="rainbow-text"><span>Chauffagiste</span> - <span>Electricien</span> - <span>Plombier</span></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio accusamus aperiam alias nam deserunt tempore, minus, laborum nulla non ipsum voluptatem! Magnam modi, laudantium iure dolor quis sapiente perferendis minus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque numquam repellat tempore fuga itaque aut! Repudiandae nisi quidem sunt nulla quia deleniti culpa impedit ipsum asperiores. Vel blanditiis soluta et. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque corrupti mollitia soluta sapiente, aut nulla, accusamus temporibus eligendi quidem quos nam tenetur accusantium at eius beatae magni molestiae libero modi.</p>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>